<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <activity
            android:name=".internal.ui.NetPilotActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/netpilot_name"
            android:launchMode="singleTask"
            android:taskAffinity="dev.mobile.netpilot.task"
            android:theme="@style/netpilot_Theme" />

        <provider
            android:name=".internal.ui.NetPilotFileProvider"
            android:authorities="${applicationId}.netpilot.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/netpilot_file_paths" />
        </provider>
    </application>

</manifest>
